{% load static %}
<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Estilo Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'courses/img/icon.jpeg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'courses/css/style2.css' %}">


    <!-- Tipo de letra -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


    <!-- CDN de Font Awesome para el ícono de WP-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <title>Aprender a Comparar Cantidades</title>

    <style>
      body {
        background-color: #f0f8ff;
        font-family: 'Arial', sans-serif;
      }

      h1 {
        font-size: 2.5rem;
        color: #007bff;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
      }

      .instructions {
        font-size: 1.5rem;
        text-align: center;
        color: #444;
        margin-bottom: 30px;
      }

      .play-area {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px auto;
        max-width: 900px;
      }

      .box {
        width: 40%;
        padding: 20px;
        text-align: center;
        border: 3px dashed #007bff;
        border-radius: 10px;
        background-color: #e6f7ff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        position: relative;
      }

      .box h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      .circle {
        width: 50px;
        height: 50px;
        background-color: #ff6f61;
        border-radius: 50%;
        display: inline-block;
        margin: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }

      .circle.green {
        background-color: #4caf50;
      }

      .btn-container {
        text-align: center;
        margin-top: 20px;
      }

      .btn {
        font-size: 1.25rem;
        padding: 10px 20px;
        border-radius: 8px;
        margin: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        opacity: 0.9;
      }

      .feedback {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
      }

      .btn-primary {
        background-color: #007bff;
        color: white;
        border: none;
      }

      .btn-danger {
        background-color: #ff5722;
        color: white;
        border: none;
      }

      .btn-success {
        background-color: #4caf50;
        color: white;
        border: none;
      }

      
    </style>
  </head>

  <body>
    <!-- Menú de navegación CCG-->
    <!-- fixed-top -->
    <nav class="bg-warning d-flex align-items-center navbar navbar-expand-lg navbar-dark fondo fixed-top">
      <div class="container-fluid d-flex justify-content-between">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="{% url 'inicio' %}">
          <img src="{% static 'courses/img/logo.png' %}" alt="Logo" width="100" height="100"
            class="rounded-circle me-2">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ciclos' %}">Ciclos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'contactanos' %}">Contáctanos</a>
            </li>
          </ul>

          <!-- Texto centrado -->
          <div class="text-center text-white mx-3">
            <div style="font-size: 1.2rem; font-weight: bold;">
              PRACTICA Y APRENDE
            </div>
            <ul class="navbar-nav special-menu2 mt-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'course_list' %}">Inicial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Primaria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Secundaria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pre</a>
              </li>
            </ul>
          </div>

          <!-- Botones de sesión -->
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item justify-content-center align-items-center p-3">
              <a class="nav-link btn btn-success text-white m-2 mt-4" href="{% url 'logout' %}">Cerrar
                Sesión</a>
              <p class="text-light" style="margin-top: 5px;">
                Hola, {{ user.username }}, bienvenido...
              </p>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link btn btn-primary text-white m-2" href="{% url 'login' %}">Iniciar
                Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-info text-white m-2" href="{% url 'register' %}">Registrarse</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
        <!-- Menú para capítulos -->
        <div class="row p-3 d-flex justify-content-center">
          <div class="col-12">
            <!-- Botón del menú desplegable -->
            <button class="btn btn-primary w-100 d-md-none" type="button" data-bs-toggle="collapse"
              data-bs-target="#capitulosMenu" aria-expanded="false" aria-controls="capitulosMenu">
              Menú de capítulos
            </button>

            <!-- Menú desplegable para dispositivos móviles -->
            <div class="collapse d-md-none" id="capitulosMenu">
              <ul class="list-group mt-2">
                <li class="list-group-item">
                  <h2 class="text-success">03 años:</h2>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=1 %}">Capítulo 1: Aprender los números</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=2 %}">Capítulo 2: Aprender a contar</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=3 %}">Capítulo 3: Comparar cantidades</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=4 %}">Capítulo 4: Identificar formas geométricas</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=5 %}">Capítulo 5: Aprender posicionamiento espacial</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=6 %}">Capítulo 6: Identificar Patrones</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=7 %}">Capítulo 7: Identificar Secuencias</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=8 %}">Capítulo 8: Comparar objetos por tamaño</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=9 %}">Capítulo 9: Comparar objetos por longitud</a>
                </li>
                <li class="list-group-item border border-primary">
                  <a href="{% url 'capitulo' capitulo_id=10 %}">Capítulo 10: Sumar figuras geométricas</a>
                </li>
              </ul>
            </div>

            <!-- Menú horizontal para pantallas grandes -->
            <ul class="list-group list-group-horizontal d-none d-md-flex flex-wrap mt-3">
              <li class="list-group-item flex-fill">
                <h2 class="text-success">03 años:</h2>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=1 %}">Capítulo 1: Aprender los números</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=2 %}">Capítulo 2: Aprender a contar</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=3 %}">Capítulo 3: Comparar cantidades</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=4 %}">Capítulo 4: Identificar formas geométricas</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=5 %}">Capítulo 5: Aprender posicionamiento espacial</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=6 %}">Capítulo 6: Identificar Patrones</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=7 %}">Capítulo 7: Identificar Secuencias</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=8 %}">Capítulo 8: Comparar objetos por tamaño</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=9 %}">Capítulo 9: Comparar objetos por longitud</a>
              </li>
              <li class="list-group-item flex-fill border border-primary">
                <a href="{% url 'capitulo' capitulo_id=10 %}">Capítulo 10: Sumar figuras geométricas</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Capítulo 3: Comparar cantidades-->
        <h1>¿Cuál tiene más?</h1>
        <p class="instructions">Haz clic en el botón correcto para comparar las cantidades.</p>

        <div class="play-area">
          <div class="box" id="box1">
            <h2>Izquierda</h2>
            <div class="circles" id="circles1"></div>
          </div>

          <div class="box" id="box2">
            <h2>Derecha</h2>
            <div class="circles" id="circles2"></div>
          </div>
        </div>

        <div class="btn-container">
          <button class="btn btn-primary" onclick="checkAnswer('left')">Izquierda</button>
          <button class="btn btn-danger" onclick="checkAnswer('right')">Derecha</button>
          <button class="btn btn-success" onclick="checkAnswer('equal')">Iguales</button>
        </div>

        <p id="feedback" class="feedback"></p>
        <!-- Enlace flotante de WhatsApp -->
        <a href="https://wa.me/51950990891" target="_blank" class="whatsapp-float">
          <i class="fab fa-whatsapp"></i>
        </a>

        <script>
          function generateCircles() {
            const circles1 = document.getElementById('circles1');
            const circles2 = document.getElementById('circles2');
            const feedback = document.getElementById('feedback');
            feedback.textContent = ''; // Reinicia el mensaje

            // Limpia los contenedores
            circles1.innerHTML = '';
            circles2.innerHTML = '';

            // Genera cantidades aleatorias
            const num1 = Math.floor(Math.random() * 10) + 1;
            const num2 = Math.floor(Math.random() * 10) + 1;

            // Añade círculos al contenedor 1
            for (let i = 0; i < num1; i++) {
              const circle = document.createElement('div');
              circle.className = 'circle green';
              circles1.appendChild(circle);
            }

            // Añade círculos al contenedor 2
            for (let i = 0; i < num2; i++) {
              const circle = document.createElement('div');
              circle.className = 'circle';
              circles2.appendChild(circle);
            }

            // Guarda las cantidades en el DOM
            circles1.setAttribute('data-count', num1);
            circles2.setAttribute('data-count', num2);
          }

          function checkAnswer(answer) {
            const count1 = parseInt(document.getElementById('circles1').getAttribute('data-count'));
            const count2 = parseInt(document.getElementById('circles2').getAttribute('data-count'));
            const feedback = document.getElementById('feedback');

            if (
              (answer === 'left' && count1 > count2) ||
              (answer === 'right' && count2 > count1) ||
              (answer === 'equal' && count1 === count2)
            ) {
              feedback.textContent = '¡Correcto!';
              feedback.style.color = '#4caf50';
              setTimeout(generateCircles, 3000); // Genera un nuevo caso después de 3 segundos
            } else {
              feedback.textContent = '¡Intenta de nuevo!';
              feedback.style.color = '#ff5722';
            }
          }

          // Genera los círculos al cargar la página
          generateCircles();
        </script>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </body>

</html>