body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
  }



  .container {
    margin-top: 20px;
    text-align: center;
  }

  #circle-container {
    width: 60%;
    height: 20vh;
    background-color: transparent;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    border: none;
  }

  .ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #ffcccc, #ff6666);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: bounce 1.5s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  .option-btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  .feedback {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
  }


  /* SUMAS */

 

  .question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .shapes-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .shape {
    width: 50px;
    height: 50px;
    margin: 5px;
  }

  .circle {
    background-color: #ffab91;
    border-radius: 50%;
  }

  .square {
    background-color: #4fc3f7;
  }

  .options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  

  .option-btn {
    padding: 15px 30px;
    font-size: 1.5rem;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
  }

  .option-btn:hover {
    background: #388e3c;
    transform: scale(1.1);
  }

  #result {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #reward {
    font-size: 2rem;
    color: #ff9800;
    display: none;
    margin-top: 20px;
  }