.fondo {
    background: linear-gradient(to top, #1C7CE0, #150051);
    /* Azul degradado */

}

/* Fondo del menú desplegable */
.navbar-collapse {
    background: linear-gradient(to top, #1C7CE0, #150051);
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    /* Color de texto para que contraste */
}


.special-menu .nav-item a:hover {
    color: #ffdd57;
    /* Color diferente al pasar el mouse */
    text-decoration: underline;
    /* Subrayado al pasar el mouse */
}

.special-menu {
    font-size: 1.5rem;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Negrita */
    color: #ffc107;
    /* Color amarillo (Bootstrap warning color) */
    text-transform: uppercase;
    /*Texto en mayúsculas */
}

/* Estilos de la pagina inicio */
body {
    background-color: #f1f2f6;
    /* Fondo claro */
    color: #333;
    margin-top: 10vh;
    /* Asegúrate de que el valor sea igual o mayor a la altura del navbar */
}

/* Navbar con degradado azul marino */
.navbar {
    background: linear-gradient(to top, #1C7CE0, #150051);
    height: 10vh;
    z-index: 1030;
    /* Asegura que el navbar esté por encima de otros elementos */


}

/* Hero section */
.hero {
    background-color: #3498db;
    color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
    padding-top:2vh;

}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}



.cta-button {
    background-color: #ff6f61;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e55b50;
}

/* Sección de cursos */
.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
    color: #3498db;
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 40px 0;
}

footer a {
    color: #ecf0f1;
}


/* Eslogan */

.typing-container {
    width: 100%;
    /* Asegura que el contenedor ocupe el 100% del ancho */
    text-align: center;
    /* Centra el texto horizontalmente */
    font-size: 2vw;
    font-weight: bold;
    background: linear-gradient(to right, #007bff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 3px solid #007bff;
    /* Efecto de cursor */
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end) forwards, blink-cursor 0.7s steps(1) 4s forwards;
}

 /* Para pantallas pequeñas */
 @media (max-width: 768px) {
    .navbar {
        position: relative;
        /* O prueba con sticky */
    }
    .contenido-principal {
        margin-top: 10vh; /* Cambia a la altura de tu navbar */
    }

    .hero {
        
        padding-top: 1vh; /* Reduce el padding superior */
        margin-top: 1vh; /* Reduce el margen superior */
    }
    
    .display-3 {
        font-size: 2.5rem; /* Reduce el tamaño de la fuente */
    }

   
}

/* Media query para pantallas extra pequeñas */
@media (max-width: 480px) {
    .display-3 {
        font-size: 2rem; /* Tamaño de fuente aún más pequeño en pantallas pequeñas */
    }

    .hero h1 {
        font-size: 2.5rem; /* Ajuste adicional en tamaño */
    }

    .hero {
        padding-top: 2vh;
        margin-top: 2vh;
    }
}



/* Animación de escritura */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Efecto de parpadeo en el cursor */
@keyframes blink-cursor {
    0% {
        border-color: #007bff;
    }

    50% {
        border-color: transparent;
    }

    60% {
        border-color: transparent;
    }

    /* Mantiene el cursor invisible al final */

}