{% extends 'courses/base.html' %}

{% block title %}Cursos Disponibles{% endblock %}


{% block content %}
<!-- Contenido de la página -->
<div class="container mt-5">
    <h1 class="text-primary">Cursos especializados</h1>

<div class="container" style="padding-left: 0; padding-right: 0;">
    <div class="row">
        {% for course in courses %}
        <div class="col-12 col-md-4 col-lg-4 mb-4">
            <div class="card h-100">
                <h2><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></h2>
                <p>{{ course.description }}</p>
                <img src="{{course.imagen.url}}" alt="Imagen del Curso" class="img-fluid rounded mb-3">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    
    

</div>

</div>
{% endblock %}